#grid {
   font-size: 8px;
   text-align: center;
}

.container {
   width: 800px;
   margin: 0 auto;
}

.header {
   margin-top: 25px;
}

.header h1 {
   margin: 0;
   float: left;
}

.header span {
   margin-top: 20px;
}

#cr-stage {
   border: 2px solid black;
}

.footer {
   text-align: right;
}

.cell {
   padding: 0;
   margin: 0;
   min-width: 32px;
   min-height: 32px;
   width: 32px;
   height: 32px;
}
